<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public\stylesheets\style.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
      </nav>
    <div class="p-3 mb-2 bg-dark text-white">
    <h1><%= post.nombre %></h1>
    <p><%= post.texto %></p>
    <p><%= post.usuario %></p>
    <p><%= post.createdAt %></p>

    <h3>Comentar</h3>
    <form action="/agregarfoto" method="POST">
        <input type="hidden" name="id" value="<%= post.id %>">
        <label for="">Link de imagen:</label>
        <input type="text" name="url">
        <br>
        <label for="">Comentario:</label>
        <input type="text" name="descripcion">
        <br>
        <label for=""> Usuario:</label>
        <input type="text" name="usuarioA">
        <br>
        <button class="btn btn-light">Subir</button>
    </form>
    <br>

    <% photos.forEach(photo => { %>
        <p><%= photo.usuarioA %></p>
        <p><%= photo.descripcion %></p>
        <img src="<%= photo.url %> " alt="">
        
    <% }) %>
    <br>
    
</div>
</body>
</html>