<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public\stylesheets\style.css">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
      </nav>
      <div class="p-3 mb-2 bg-dark text-white">
    <h1>
        <!-- ejsout -->
        <%= titulo %>
    </h1>
    <a class="btn btn-primary" href="/nuevo" role="button">Nuevo Post</a>
    
    <ul>
        <!-- ejseach -->
        <% posts.forEach(post => { %>
            <li>
                <p>
                    <%= post.nombre %>
                    <br>
                    <%= post.texto %> 
                    <br>
                    <%= post.usuario %>
                    <br>
                </p>
                
                <a class="btn btn-outline-info" href="/detalle/<%= post.id %> " role="button">Comentar</a>
                
                <a class="btn btn-outline-info" href="/editar/<%= post.id %>" role="button">Editar</a>
              
                <a class="btn btn-outline-danger" href="/borrar/<%= post.id %>" role="button">Borrar</a>
                 <p>
                    <%= post.createdAt %>
                </p>
            </li>
            <% }) %>
            
    </ul>
    </div>
</body>

</html>