<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public\stylesheets\style.css">

</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
      </nav>
      <div class="p-3 mb-2 bg-dark text-white">
    <h1><%= locals.id ? 'Editar' : 'Nuevo' %> publicacion</h1>
    <form action="<%= locals.id ? '/editar' : '/nuevo' %>" method="POST">
        <% if (locals.id) { %>
            <input type="hidden" name="id" value="<%= id %>">
        <% } %>

        <label for="">Titulo:</label>
        <input type="text" name="nombre" value="<%= locals.nombre ? nombre : '' %>">

        <% if (locals.errors && locals.errors.nombre) { %>
        <p>
            <%= errors.nombre %>
        </p>
        <% } %>

        <label for="">Texto:</label>
        <input type="text" name="texto" value="<%= locals.texto ? texto : '' %>">

        <% if (locals.errors && locals.errors.texto) { %>
        <p>
            <%= errors.texto %>
        </p>
        <% } %>

        <label for="">Usuario:</label>        
        <input type="text" name="usuario" value="<%= locals.usuario ? usuario : '' %>">
        
        <% if (locals.errors && locals.errors.usuario) { %>
         <p>
             <%= errors.usuario %>
        </p>
        <% } %>
      
        <br>
        <button class="btn btn-light">Subir</button>
    </form>
</div>
</body>

</html>